.sobre_mi{
    background-image: linear-gradient(to bottom, #c62368, #882b72, #482d64, #152344, #00101c);;
    padding-bottom: 5rem;
    h2{
        width: 100%;
        height: 20vh;
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../assets/img/f_secciones.webp);
        background-size: cover;
        color: #f0f0f3;
        padding:1rem;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 5px;
        span{
            width: 50%;
            background-color: rgba(0, 0, 0,0.5);
        }
    }
    .perfil_2{
        width:30rem ;
        height: 40rem;
        margin-top: 5rem;
        border-radius: 100px 6px 100px 6px;
        background-image: url(../assets/img/sobre_mi.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .text_sobre_mi{
        margin-top:3rem;
        text-align:left;
        p{
            color: #f0f0f3;
            font-size: 2rem;
            margin: 2rem;
        }
    }
    .descarga{
        width: 20rem;
        height: 5rem;
        margin-top: 3rem;
        padding: 1rem;
        border-radius: 5rem;
        background-color: #c62368;
        a{
            text-decoration: none;
            i{
                font-size: 3rem;
                color: aliceblue;
                margin: 1rem;
            }
            p{
                color: #fff;
                text-transform: uppercase;
                font-size: 1.5rem;
                margin: 1rem;
            }
        }
    }
    hr{
        width: 80%;
        margin-top: 6rem;
        opacity: 1;
        color: #f0f0f3;
    }
    i{
        margin-top: 2rem;
        font-size: 3rem;
        color: #f0f0f3;
        p{
            font-size: 1.5rem;
            padding: 1rem;
            color: #f0f0f3;
        }
    }
    .map{
        width: fit-content;
        margin-top:5rem;
        border: solid 0.3rem #f0f0f3;
        border-radius: 1rem;
        iframe{
            width: 100%;
            height: 30rem;
            padding: 1rem;
        }
        
    }
}
// responsive
@include sm(){
   .sobre_mi{
        .perfil_2{
        width: 25rem;
        height: 35rem;
        }
    .map{
        width:80%;
        iframe{
            width: 100%;
        }
    }
   } 
}
@include lg(){
    .sobre_mi{
        h2{
            height: 30vh;
        }
        .text_sobre_mi{
            border: solid 1px #f0f0f3;
            margin-left: 5rem;
        }
        .descarga{
            margin-top: 15rem;
            background-color: #c62368;
            &:hover{
                border:solid 1px #610028;
                box-shadow: 0px 0px 15px #a11d54;
            }
        }
        .map{
            width: 80%;
        }
    }
}